@tailwind base;
@tailwind components;
@tailwind utilities;


/* hide scroll in lastet product */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


html, body {
    @apply bg-base-100 text-base-content; /* Uses DaisyUI theme colors */
}